<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.filesystemdemo">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        android:requestLegacyExternalStorage="true" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileSystemDemo"
        tools:targetApi="31">
        <activity
            android:name=".views.activities.MultiplicationUsingThreadActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.BasicThreadDemoActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ConcurrencyDemoActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PersistTimerDemo"
            android:exported="false" />
        <activity
            android:name=".views.activities.TimerDemo"
            android:exported="true" />
        <activity
            android:name=".views.activities.BroadcastReceiverDemo"
            android:exported="false" />
        <activity
            android:name=".views.activities.AlarmManagerDemo"
            android:exported="false" />
        <activity
            android:name=".views.activities.JobSchedulerDemo"
            android:exported="false" />
        <activity
            android:name=".views.activities.WorkManagerDemo"
            android:exported="false" />
        <activity
            android:name=".views.activities.ReadFileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ViewPagerDemoActivityWithFragment"
            android:exported="false" />
        <activity
            android:name=".views.activities.ViewPagerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.NetworkInfoActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.FileSystemActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcasts.LogNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.filesystemdemo.log_notification_receiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.LogNotificationServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.filesystemdemo.log_notification_service_broadcast_action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.LocationNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.filesystemdemo.location_notification_broadcast_action" />
            </intent-filter>
        </receiver>

        <service android:name=".services.TimerService" />
        <service
            android:name=".jobs.BackgroundPrintLogJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.LogNotificationService"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="Log Notification Service" />
        <service
            android:name=".services.LocationNotificationService"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="Location Notification Service" />
    </application>

</manifest>